*.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/characters_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/characters.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/lena_filter3.png filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/airplane.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter1.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/shapes_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101239.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101246.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman.png filter=lfs diff=lfs merge=lfs -text
as1/scene.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101124.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101150.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter4.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/characters_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/shapes_filter1.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101120.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter1.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter4_ref.png filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/camera_saltpepper.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101230.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101305.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101139.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101323.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/arara_filter3.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101216.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101254.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter3.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101201.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101249.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101301.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101111.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter3.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/lena_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101157.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/shapes_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101147.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101224.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/lena_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/characters_filter1.png filter=lfs diff=lfs merge=lfs -text
as1/examples/ex5_walk.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101128.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/characters_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/shapes.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101220.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman2_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101049.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter4.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/board.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter4_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/lena_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as1/dig.png filter=lfs diff=lfs merge=lfs -text
as1/examples/ex1_xy.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101213.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/board_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman2_filter1.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/lena_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/shapes_filter3.png filter=lfs diff=lfs merge=lfs -text
as1/examples/ex2_sin.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/arara.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman2_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/board_filter1.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/arara_filter1.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/arara_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/arara_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/arara_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter4_ref.png filter=lfs diff=lfs merge=lfs -text
as1/examples/ex4_rand.png filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/flower.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101209.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101319.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/arara_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman2_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman_filter1.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101154.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101242.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101258.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/lena_filter1.png filter=lfs diff=lfs merge=lfs -text
as1/examples/ex3_quad.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman2_filter3.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter4.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101235.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter3.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/lena.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101132.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/board_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/shapes_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/baboon.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101116.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter3_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/einstein_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/board_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman2_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman_filter2_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/shapes_filter2.png filter=lfs diff=lfs merge=lfs -text
as3/tests/expected_results/Figure[[:space:]]2022-03-26[[:space:]]101143.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/apollo17_filter1_ref.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/baboon_filter1.png filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/arara.png filter=lfs diff=lfs merge=lfs -text
as3/tests/input_images/cameraman_filter3.png filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/26.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/9.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/4.in filter=lfs diff=lfs merge=lfs -text
as1/examples/ex4.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/13.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/16.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/23.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/6.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/8.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/15.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/7.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/20.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/1.in filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex4.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/14.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/10.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/7.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/2.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/11.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/5.in filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex3.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/1.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/5.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/8.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/8.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/9.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/3.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/12.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/18.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/7.in filter=lfs diff=lfs merge=lfs -text
as1/examples/ex1.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/10.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/1.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/10.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/6.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/19.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/31.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/5.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/6.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/2.in filter=lfs diff=lfs merge=lfs -text
as1/examples/ex3.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/25.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/4.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/17.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/9.in filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex2.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/28.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/29.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/21.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/24.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/2.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/4.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/6.in filter=lfs diff=lfs merge=lfs -text
as1/examples/ex2.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/2.in filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex12.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/22.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/27.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/3.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/3.in filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex1.in filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex5.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/11.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/9.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/7.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/3.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/10.in filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/30.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/8.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/5.in filter=lfs diff=lfs merge=lfs -text
as1/examples/ex5.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/1.in filter=lfs diff=lfs merge=lfs -text
as1/testcases/4.in filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/5.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/2.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/11.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/23.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/7.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/24.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/8.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/9.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/8.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/4.out filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex1.out filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex4.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso3/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso4/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso9/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/6.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/8.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/14.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/25.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/2.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/9.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso6/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/1.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/6.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/31.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso5/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/9.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/2.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/3.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/3.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/21.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/5.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/15.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/28.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/7.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/29.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/10.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/6.out filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex2.out filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex5.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/22.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso8/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/10.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/7.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/11.out filter=lfs diff=lfs merge=lfs -text
as2/examples/Casos_Teste/ex3.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/10.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/1.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/26.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso2/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/1.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/5.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/9.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/4.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/19.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/8.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/12.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/5.out filter=lfs diff=lfs merge=lfs -text
as1/testcases/2.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/13.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/10.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/1.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/3.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/testcases/7.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/17.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/30.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/3.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/4.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/6.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputCases/4.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/27.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/expectedSimilarities.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/16.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/18.out filter=lfs diff=lfs merge=lfs -text
as3/tests/test_cases/20.out filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/Figure[[:space:]]2022-06-09[[:space:]]232818[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/Figure[[:space:]]2022-06-09[[:space:]]231629[[:space:]](6).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso4/Figure[[:space:]]2022-06-09[[:space:]]232202[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso5/Figure[[:space:]]2022-06-09[[:space:]]232314[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso8/Figure[[:space:]]2022-06-09[[:space:]]232630[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/Figure[[:space:]]2022-06-09[[:space:]]232818[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/Figure[[:space:]]2022-06-09[[:space:]]231629[[:space:]](5).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso2/Figure[[:space:]]2022-06-09[[:space:]]231822[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso2/Figure[[:space:]]2022-06-09[[:space:]]231822[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso3/Figure[[:space:]]2022-06-09[[:space:]]232021[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso4/Figure[[:space:]]2022-06-09[[:space:]]232202[[:space:]](5).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso9/Figure[[:space:]]2022-06-09[[:space:]]232718[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso2/Figure[[:space:]]2022-06-09[[:space:]]231822[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/parede3.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/pedras2.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/Figure[[:space:]]2022-06-09[[:space:]]231629[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/Figure[[:space:]]2022-06-09[[:space:]]231629[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso2/Figure[[:space:]]2022-06-09[[:space:]]231822[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso5/Figure[[:space:]]2022-06-09[[:space:]]232314[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso5/Figure[[:space:]]2022-06-09[[:space:]]232314[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/Figure[[:space:]]2022-06-09[[:space:]]232507[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/Figure[[:space:]]2022-06-09[[:space:]]232507[[:space:]](6).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso5/Figure[[:space:]]2022-06-09[[:space:]]232314[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso5/Figure[[:space:]]2022-06-09[[:space:]]232314[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso8/Figure[[:space:]]2022-06-09[[:space:]]232630[[:space:]](5).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/grama2.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/Figure[[:space:]]2022-06-09[[:space:]]232818[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/Figure[[:space:]]2022-06-09[[:space:]]232818[[:space:]](6).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/Figure[[:space:]]2022-06-09[[:space:]]231629[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso3/Figure[[:space:]]2022-06-09[[:space:]]232021[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso6/Figure[[:space:]]2022-06-09[[:space:]]232405[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/Figure[[:space:]]2022-06-09[[:space:]]232507[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso9/Figure[[:space:]]2022-06-09[[:space:]]232718[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso9/Figure[[:space:]]2022-06-09[[:space:]]232718[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/pedras3.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/Figure[[:space:]]2022-06-09[[:space:]]231629[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso1/Figure[[:space:]]2022-06-09[[:space:]]231629[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso4/Figure[[:space:]]2022-06-09[[:space:]]232202[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso6/Figure[[:space:]]2022-06-09[[:space:]]232405[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/Figure[[:space:]]2022-06-09[[:space:]]232507[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/parede2.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso2/Figure[[:space:]]2022-06-09[[:space:]]231822[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso8/Figure[[:space:]]2022-06-09[[:space:]]232630[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso9/Figure[[:space:]]2022-06-09[[:space:]]232718[[:space:]](5).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/Figure[[:space:]]2022-06-09[[:space:]]232818[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso3/Figure[[:space:]]2022-06-09[[:space:]]232021[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso4/Figure[[:space:]]2022-06-09[[:space:]]232202[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso6/Figure[[:space:]]2022-06-09[[:space:]]232405[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso8/Figure[[:space:]]2022-06-09[[:space:]]232630[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/pedras1.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/parede1.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso3/Figure[[:space:]]2022-06-09[[:space:]]232021[[:space:]](4).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso6/Figure[[:space:]]2022-06-09[[:space:]]232405[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso8/Figure[[:space:]]2022-06-09[[:space:]]232630[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso9/Figure[[:space:]]2022-06-09[[:space:]]232718[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/grama1.png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/Figure[[:space:]]2022-06-09[[:space:]]232818[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso6/Figure[[:space:]]2022-06-09[[:space:]]232405[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso2/Figure[[:space:]]2022-06-09[[:space:]]231822[[:space:]](5).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso3/Figure[[:space:]]2022-06-09[[:space:]]232021[[:space:]](1).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso4/Figure[[:space:]]2022-06-09[[:space:]]232202[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso4/Figure[[:space:]]2022-06-09[[:space:]]232202[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso8/Figure[[:space:]]2022-06-09[[:space:]]232630[[:space:]](2).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso10/Figure[[:space:]]2022-06-09[[:space:]]232818[[:space:]](5).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/Figure[[:space:]]2022-06-09[[:space:]]232507[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/Figure[[:space:]]2022-06-09[[:space:]]232507[[:space:]](3).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso7/Figure[[:space:]]2022-06-09[[:space:]]232507[[:space:]](5).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/Caso9/Figure[[:space:]]2022-06-09[[:space:]]232718[[:space:]](0).png filter=lfs diff=lfs merge=lfs -text
as5/tests/resources/InputImages/grama3.png filter=lfs diff=lfs merge=lfs -text
